/*Comment Within CSS/style*/
should not contain any html tags
a:link
{
	color:green; background-color:transparent; text-decoration:none
}
				
a:visited 
{
	color:purple; background-color:transparent; text-decoration:none
}
				
a:hover
{
	color:red; background-color:transparent; text-decoration:underline
}
				
a:active  
{
	color:yellow; background-color:transparent; text-decoration:underline
}
